<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Cua Hang Manh Tu</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-N5BMtoP1mS68S4R0iZpL4X2G4gJf7B0gtbZrTMTjHr8+4+XiOp7IHw5yGsyhImQZnZtgmI1b3w4GBOUlAq6Fzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/assets/images/Fishlogo.jpg" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/assets/images/Fishlogo.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    @await Html.PartialAsync("HeaderPartialView.cshtml")
    <!-- End Main Top -->
    <!-- Start Main Top -->
    @RenderBody()
    <!-- Start Footer  -->
    @await Html.PartialAsync("FooterPartialView.cshtml")
    <!-- End Footer  -->
    <!-- Start copyright  -->
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;padding-top: 10px;border-radius: 50%;width: 40px;height: 40px;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/assets/js/jquery.superslides.min.js"></script>
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/js/inewsticker.js"></script>
    <script src="~/assets/js/bootsnav.js."></script>
    <script src="~/assets/js/images-loded.min.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/baguetteBox.min.js"></script>
    <script src="~/assets/js/form-validator.min.js"></script>
    <script src="~/assets/js/contact-form-script.js"></script>
    <script src="~/assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>