
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer>
    <div class="footer-main">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>Mạnh Tú Store</h4>
                        <p>Mạnh Tú Store là điểm đến lý tưởng cho những ai yêu thích hải sản tươi ngon. Chúng tôi tự hào là đối tác đáng tin cậy, cung cấp những sản phẩm hải sản chất lượng cao, đa dạng và đảm bảo vệ sinh an toàn thực phẩm.</p>
                        <p>Hãy đến với chúng tôi và khám phá thế giới hải sản đa dạng, phong phú và tươi ngon tại địa chỉ của Mạnh Tú Store. Chúng tôi luôn sẵn lòng phục vụ và đem lại niềm vui ẩm thực cho bạn và gia đình!"</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Liên Hệ</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Địa Chỉ: Phố Nhổn, Bắc Từ Liêm, Hà Nội <br>Vũ Văn Mạnh<br></p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:0855774792">0855774792</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:vanmanha5@gmail.com">vanmanha5@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>