

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-floor-plan"></i>
                <span class="menu-title">Quản lý Đơn Hàng</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Danh Sách Đơn Hàng</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#product" aria-expanded="false" aria-controls="product">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Quản Lý Sản Phẩm</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="product">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">Danh Sách Sản Phẩm</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#qlch" aria-expanded="false" aria-controls="qlch">
                <i class="menu-icon mdi mdi-floor-plan"></i>
                <span class="menu-title">Quản lý Cửa Hàng</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="qlch">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Store" asp-action="Index">Danh Sách Cửa Hàng</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="menu-icon mdi mdi-chart-line"></i>
                <span class="menu-title">Quản Lý Khách Hàng</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Customer" asp-action="Index">Danh Sách Khách Hàng</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <i class="menu-icon mdi mdi-layers-outline"></i>
                <span class="menu-title">Quản Lý Hệ Thống</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Account" asp-action="Index">Quản Lý Tài Khoản</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Quản Lý Danh Mục</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">Quản Lý Quyền Truy Cập</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#qltt" aria-expanded="false" aria-controls="qltt">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Quản Lý Tin Tức</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="qltt">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Post" asp-action="Index">Danh Sách Tin Tức</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon mdi mdi-account-circle-outline"></i>
                <span class="menu-title">Tài Khoản</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Login"> Đăng Xuất </a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>